/*Variaveis*/
:root{
    --background-color:#53058A;
    --text-color:#53058A;
    --card-background:#FFFFFF;
}
/* Resetar os estilos padroes do navegador */
*{
    margin:0;
    border:0;
    padding:0;

}
body{
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-container{
background-color:var(--card-background);
margin: 0px 16pix;
padding: 36px 40px;
border-radius: 30px;
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;

}
.qrcode-container{
    background-color: var(--card-background);
    max-width: 335px;
    width: 75%;
    padding: 25px;
    border-radius: 23px;
    box-shadow: 5px 4px 8px rgba(0,0,0,0.25)

}
.qrcode{
    width: 100%;
    height: 100%;
    
}
.button-container{
    display: flex;
    gap: 24px;
    width: 100%;
}
.button{
    flex: 1;
    border-radius: 20px;
    background-color: var(--card-background);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    margin: 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    font-family: inherit;
}
.button > img{
    width: 20%;
}
.button > span{
    font-weight: 400;
    font-size: 16px ;
    text-align: center;  
}
.button:hover{
    cursor: pointer;
}
span, h1{
    color:var(--text-color);
}
h1{
    font-weight: 400;
    text-align: center;
    font-size: 32px;
}
h1 > strong{
    font-size: 48px;
    line-height: 39.6px;
}
@media screen and (max-width: 480px){
    .card-container{
        gap: 16px;
        padding: 24px 30px;
    }
    .button-container{
        font-size: 16px;
    }   
    .button > span{
        font-size: 14px;

    }
    h1{
        font-size: 28px;
    }
    h1 > strong{
        font-size: 40px;
    }

}
.foguete:hover{
    cursor: pointer; 
}
.foguete{  
    width: 90px;
    animation:foguete 1.5s infinite ease-in-out;
}

@keyframes foguete{
    50% {
        transform: translateY(-10%);
    }
}   